.table-container {
	margin: 1rem 0;
	box-shadow: var(--edge-highlight);
	border-radius: var(--rounded-corner);
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

table {
	border-collapse: collapse;
	background-color: var(--fg-muted-1);
	width: 100%;

	:root[dir*="rtl"] & {
		direction: ltr;
		unicode-bidi: isolate;
	}

	tr {
		&:nth-child(even) {
			background-color: var(--fg-muted-1);
		}

		th,
		td {
			padding: 0.5rem 1rem;
		}

		th {
			background-color: var(--fg-muted-2);
			font-weight: bold;
		}
	}
}